/* ID STYLES */

/* LAYOUT */

/* #header */

#header { border-bottom: 1px solid #ccc; padding: 0;  }
#header .title { padding: 10px 0; font-size: 20px; }
#header .title h1 { font-size: 120px; font-weight: bold; font-family: times; }
#header .title h1 { color: #552200; }
#header .title pre { background: transparent; }

/* #nav */

#nav { padding: 10px; }
#nav ul { list-style-type: none; margin: 0; padding: 0px; width: 100%; position: relative; }
#nav ul li { margin: 0 15px 10px 0; line-height: 20px; white-space:nowrap; float: left; }
#nav ul li a { border-top: 0 solid; }
#nav { text-align: right; }
#nav ul li a { font-weight: bold; text-decoration: none; font-size: 1.0em; line-height: 1.4em; }
#nav ul li a:hover { text-decoration: underline; }
#nav ul li a:active { text-decoration: underline; }
#nav ul { background: transparent; }
#nav ul li a { color: #773300; border-color: #F7B380; }

/* #main */

.main { padding: 30px 0 30px 0; }
.main { }
.main a { font-size: 100%; }
.main a:hover { text-decoration: underline; }
.main h2 { font-size: 2em; font-weight: bold; }
.main h3 { font-style: italic; }

/* #doc */

#doc { font-family: sans serif, helvetica; font-weight: bold; line-height: 150%; padding-right: 20px; }
#doc a { color: #773300; }
#doc a:hover { }
#doc p { font-weight: normal; font-size: 120%; }
#doc h2 { color: #773300; border-color: #F7B380; }
#doc h3 { border-color: #F7B380; }

#readme { margin-top: 0; margin-bottom: 20px; padding-top: 20px; border-top: 1px solid #ccc; }
#readme ol, ul { list-style: square; margin-left: 24px; }
#readme h2 { padding: 20px 0 10px 0; }

/* #footer */

#footer { margin-top: 0; padding: 30px 0 60px 0; border-top: 1px solid #ccc; }
#footer .advert { border: 1px solid :eee; }
#footer .copyright { margin-top: 10px; padding: 20px 0px 35px 0px; font-size: 0.8em; color: #aaa; }

